/* src/components/Chat.css */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  max-width: 500px; /* Set this to the desired max-width for a cellphone size */
  margin: 0 auto; /* Center the container */
  padding: 10px; /* Optional: Add some padding */
  background-color: #2f3136; /* Background color for the chat container */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}

.header {
  background-color: #2f3136;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between; /* Add this to space out the title and the menu icon */
  align-items: center;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.menu-items {
  display: none;
  flex-direction: column;
  background-color: #2f3136;
  position: absolute;
  right: 10px;
  top: 40px;
  border: 1px solid #72767d;
  border-radius: 5px;
  padding: 10px;
}

.menu-items a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
}

.menu-items a:hover {
  background-color: #4f545c;
}
